body{
    background-color: #787878;    
}

.form-box{
    height:100%;
    border-radius: 3px;
    box-shadow: 20px;
    border: 10px;
}

label{
    font-weight: bold;
}

.form input{
    width: 50%;
}

@media screen and (max-width: 460px) {
    .form input{
        width: 20%;
    }
}

.button-login{
    background-color: #dcdcdc;
    align-self: center;
    border-radius: 3px;
    color: black;
    border: 0;
    padding: 5px;
}

.button-login:hover{
    background-color: rgb(208, 158, 120);
}

.background-logo{
    z-index: -1;
    top: 10%;
    position: absolute;
    max-width: 40%;
    opacity: 0.08;
    text-align: center;
    left: 30%;
}