<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  <!--  Mengatur encoding halaman menjadi UTF-8 untuk mendukung berbagai karakter.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--  Membuat halaman responsif agar cocok untuk perangkat dengan berbagai ukuran layar.-->

        <!-- Favicons -->
        <link href="static/img/logo_THB1.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="static/css/style.css" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="static/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

        <!-- Leaflet CSS for Map -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
        <!-- Title -->
        <title>Daftar Pengiriman - PT. Tunas Harapan Baru</title>
    </head>
    <body>
        {{navbar|safe}}
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Daftar Rute Pengiriman</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item active">Rute Pengiriman</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Daftar Rute</h3>
                        <table class="table ">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Tanggal Kirim</th>
                                    <th>Total Jarak</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for index,row in enumerate(routes_list) %}
                                <tr class="clickable-row align-middle" data-id="{{row[0]}}" onclick="getRouteDetails('{{row[0]}}')">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ row[2] }}</td>
                                        <td>{{ row[1] }} Km</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <script>
            function getRouteDetails(row) {
                // Ambil nilai data-id dari baris yang diklik
                const routeId = row;
                console.log('Route ID:', routeId);
    
                // Lakukan aksi sesuai kebutuhan (misalnya, navigasi atau fetch data)
                window.location.href = `/route_detail/${routeId}`;
            }
        </script>
        <script src="static/js/jquery.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>