<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Nunito|Poppins" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='bootstrap5/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

    <title>Detail Rute - PT. Tunas Harapan Baru</title>
</head>
<body>
    {{navbar|safe}}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Detail Rute TSP</h1>
        </div>

        <!-- Tampilkan Total Jarak -->
        <h3>Informasi Rute</h3>

        <!-- Tabel Detail Rute -->
        <h3>Detail Lokasi Pemberhentian</h3>
        

        <!-- Peta -->
        <h3>Peta Rute</h3>
        {{route_id}}
        <div id="map" style="height: 500px; width: 100%;"></div>
        
        <!-- Script untuk Menampilkan Peta -->
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>


        <!-- Tombol Kembali -->
        <a href="{{ url_for('tsp') }}" class="btn btn-primary mt-3">Kembali ke Daftar Rute</a>
    </main>
</body>
</html>